/.metadata
/.metadata
/.metadata/.plugins
/.metadata/.plugins/org.eclipse.cdt.core
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/MFDKAES67/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MFDKAES67/.syncinfo.snap
/.metadata
